
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background :linear-gradient(blue, white, green) ;
  }
  
  .container {
    background:whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 4px 3px 2px blue;
    width: 300px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .movie-data {
    margin-top: 20px;
    text-align: left;
  }
  
  .movie-data h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .movie-data p {
    margin: 5px 0;
  }